:root {
	background: var(--tocus-color-surface);
	color: var(--tocus-color-on-surface);
	font-family: var(--tocus-font-family-body);
	font-synthesis: none;
}

* {
	box-sizing: border-box;
}

body {
	width: min(22rem, 100vw);
	margin: 0;
	background: var(--tocus-color-surface-lowest);
}
