@use '@tocus/theme/tokens';
@use '@tocus/theme/typography' as typography;
@include typography.emit-tokens( ':root', 1 );

:root {
	background: var(--tocus-color-surface);
	color: var(--tocus-color-on-surface);
	font-synthesis: none;
}

* {
	box-sizing: border-box;
}

body {
	@include typography.apply( 'body-medium' );

	width: min(22rem, 100vw);
	margin: 0;
	background: var(--tocus-color-surface-lowest);
}
