@use 'sass:map';

$-roles: (
	'display-large': (
		font-family: var(--tocus-font-family-brand),
		font-size: 4.453125rem,
		font-weight: 600,
		line-height: 5rem,
		letter-spacing: -0.019531rem,
	),
	'display-medium': (
		font-family: var(--tocus-font-family-brand),
		font-size: 3.515625rem,
		font-weight: 600,
		line-height: 4.0625rem,
		letter-spacing: 0,
	),
	'display-small': (
		font-family: var(--tocus-font-family-brand),
		font-size: 2.8125rem,
		font-weight: 600,
		line-height: 3.4375rem,
		letter-spacing: 0,
	),
	'headline-large': (
		font-family: var(--tocus-font-family-brand),
		font-size: 2.5rem,
		font-weight: 600,
		line-height: 3.125rem,
		letter-spacing: 0,
	),
	'headline-medium': (
		font-family: var(--tocus-font-family-brand),
		font-size: 2.1875rem,
		font-weight: 600,
		line-height: 2.8125rem,
		letter-spacing: 0,
	),
	'headline-small': (
		font-family: var(--tocus-font-family-brand),
		font-size: 1.875rem,
		font-weight: 600,
		line-height: 2.5rem,
		letter-spacing: 0,
	),
	'brand-small': (
		font-family: var(--tocus-font-family-brand),
		font-size: 0.859375rem,
		font-weight: 600,
		line-height: 1.25rem,
		letter-spacing: 0,
	),
	'title-large': (
		font-family: var(--tocus-font-family-body),
		font-size: 1.71875rem,
		font-weight: 400,
		line-height: 2.1875rem,
		letter-spacing: 0,
	),
	'title-medium': (
		font-family: var(--tocus-font-family-body),
		font-size: 1.25rem,
		font-weight: 500,
		line-height: 1.875rem,
		letter-spacing: 0.011719rem,
	),
	'title-small': (
		font-family: var(--tocus-font-family-body),
		font-size: 1.09375rem,
		font-weight: 500,
		line-height: 1.5625rem,
		letter-spacing: 0.007813rem,
	),
	'body-large': (
		font-family: var(--tocus-font-family-body),
		font-size: 1.25rem,
		font-weight: 400,
		line-height: 1.875rem,
		letter-spacing: 0.039063rem,
	),
	'body-medium': (
		font-family: var(--tocus-font-family-body),
		font-size: 1.09375rem,
		font-weight: 400,
		line-height: 1.5625rem,
		letter-spacing: 0.019531rem,
	),
	'body-small': (
		font-family: var(--tocus-font-family-body),
		font-size: 0.9375rem,
		font-weight: 400,
		line-height: 1.25rem,
		letter-spacing: 0.03125rem,
	),
	'label-large': (
		font-family: var(--tocus-font-family-body),
		font-size: 1.09375rem,
		font-weight: 500,
		line-height: 1.5625rem,
		letter-spacing: 0.007813rem,
	),
	'label-medium': (
		font-family: var(--tocus-font-family-body),
		font-size: 0.9375rem,
		font-weight: 500,
		line-height: 1.25rem,
		letter-spacing: 0.039063rem,
	),
	'label-small': (
		font-family: var(--tocus-font-family-body),
		font-size: 0.859375rem,
		font-weight: 500,
		line-height: 1.25rem,
		letter-spacing: 0.039063rem,
	),
);

@function has-role( $role ) {
	@return map.has-key( $-roles, $role );
}

@mixin emit-tokens( $selector: ':root' ) {
	#{ $selector } {
		@each $role, $properties in $-roles {
			@each $property, $value in $properties {
				--tocus-typography-#{ $role }-#{ $property }: #{ $value };
			}
		}
	}
}
